- name: Ensure PostgreSQL data directory exists
  file:
    path: "{{ postgres_data_dir }}"
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Run PostgreSQL container
  community.docker.docker_container:
    name: "{{ postgres_container_name }}"
    image: "{{ postgres_image }}"
    state: started
    restart_policy: always
    ports:
      - "{{ postgres_port }}:5432"
    volumes:
      - "{{ postgres_data_dir }}:/var/lib/postgresql/data"
    env:
      POSTGRES_DB: "{{ postgres_db }}"
      POSTGRES_USER: "{{ postgres_user }}"
      POSTGRES_PASSWORD: "{{ postgres_password }}"
